{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>


<body>
    <div class="card">
        <div class="produit">
            <h1> {{ data.name }}</h1>
            <img src="{{ data.image }}" alt="{{ data.name }}">
            <p>Prix : {{ data.price }} € </p>
            <p>Quantité: {{ data.quantity }}</p>

            <form action="/produits/update/{{data.id}}" method="POST">
                {% csrf_token %}
                <select name="quantity">
                    {% for i in q %}
                    <option value="{{ i }}"> {{ i }} </option>
                    {% endfor %}
                </select>
                <button type="submit">Buy</button>
            </form>
        </div>
    </div>
    <a href="{% url 'produits:produit_list' %}">Voir tout les produits</a>
</body>

</html>